<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.GradeDao">
    <insert id="insertGrade" parameterType="com.qfedu.entity.Grade">
        insert into t_grade(
        <trim suffixOverrides=",">
            <if test="u_no !=null">
                u_no,
            </if>
            <if test="name !=null">
                name,
            </if>
            <if test="createtime !=null">
                createtime,
            </if>
            <if test="week !=null">
                week,
            </if>
            <if test="location !=nuselectGradeAllll">
                location,
            </if>
            <if test="flag !=null">
                fiag
            </if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="u_no !=null">
                #{u_no},
            </if>
            <if test="name !=null">
                #{name},
            </if>
            <if test="createtime !=null">
                #{createtime},
            </if>
            <if test="week !=null">
                #{week},
            </if>
            <if test="location !=null">
                #{location},
            </if>
            <if test="flag !=null">
                #{fiag}
            </if>
        </trim>
        )
    </insert>
    <select id="selectGradeAll" resultType="com.qfedu.entity.Grade">
        select * from t_grade
    </select>
    <delete id="delectGradeById" parameterType="int">
        delete from t_grade where id =#{id}
    </delete>
    <update id="updateGrade" parameterType="com.qfedu.entity.Grade">
        update t_grade set
        <trim suffixOverrides=",">
            <if test="u_no !=null">u_no=#{u_no},
            </if>
        <if test="
        name !=null">name=#{name},
        </if>
            <if test="createtime !=null">
                createtime=#{createtime},
            </if>
            <if test="week !=null">
                week= #{week},
            </if>
            <if test="location !=null">
                location= #{location},
            </if>
            <if test="flag !=null">
                flag= #{flag}
            </if>
        </trim>


        where id =#{id}

    </update>



</mapper>