<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.StudentDao">
    <insert id="insertStudent" parameterType="com.qfedu.entity.Student">
        insert into t_student(
        <trim suffixOverrides=",">  <!--去掉后缀的 ,号-->
            <if test="u_no !=null">
                u_no,
            </if>
            <if test="name !=null">
                name,
            </if>
            <if test="sex !=null">
                sex,
            </if>
            <if test="birthday !=null">
                birthday,
            </if>
            <if test="cardno !=null">
                cardno,
            </if>
            <if test="schoolname !=null">
                schoolname,
            </if>
            <if test="education !=null">
                education,
            </if>
            <if test="phone !=null">
                phone,
            </if>
            <if test="email !=null">
                email,
            </if>
            <if test="qq !=null">
                qq,
            </if>
            <if test="cno !=null">
                cno,
            </if>
            <if test="introno !=null">
                introno,
            </if>
            <if test="flag !=null">
                flag,
            </if>
            <if test="entrytime !=null">
                entrytime,
            </if>
            <if test="g_name !=null">
                g_name
            </if>

        </trim>)
        values (
        <trim suffixOverrides=","> <!--去除末尾，号-->
            <if test="u_no !=null">
                #{u_no},
            </if>
            <if test="name !=null">
                #{name},
            </if>
            <if test="sex !=null">
                #{sex},
            </if>
            <if test="birthday !=null">
                #{birthday},
            </if>
            <if test="cardno !=null">
                #{cardno},
            </if>
            <if test="schoolname !=null">
                #{schoolname},
            </if>
            <if test="education !=null">
                #{education},
            </if>
            <if test="phone !=null">
                #{phone},
            </if>
            <if test="email !=null">
                #{email},
            </if>
            <if test="qq !=null">
                #{qq},
            </if>
            <if test="cno !=null">
                #{cno},
            </if>
            <if test="introno !=null">
                #{introno},
            </if>
            <if test="flag !=null">
                #{flag},
            </if>
            <if test="entrytime !=null">
                #{entrytime},
            </if>
            <if test="g_name !=null">
                #{g_name}
            </if>

        </trim>
        )

    </insert>
    <select id="selectIdByName" parameterType="string" resultType="int">
        select id from t_student where name = #{name}
    </select>
    <select id="selectStuAndGrade" resultType="com.qfedu.dto.StudentGrade">
        select g.name grade ,count(*) count from t_student s join t_grade g on s.cno = g.id GROUP BY cno ORDER BY s.cno
    </select>


</mapper>